{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% block content %}
  <h1 class="ms-5 text-secondary my-5">Detalles de la Reserva</h1>
  <div class="row">
    <div class="col-2"></div>
    <div class="col-4">
      <div class="w-75 mb-3 d-flex justify-content-between align-items-between">
        <div class="fw-bold fs-5">Cliente:</div>
        <div class="lead">{{ reserva.cliente.nombre }}</div>
      </div>
      <div class="w-75 mb-3 d-flex justify-content-between align-items-between">
        <div class="fw-bold fs-5">Habitacion:</div>
        <div class="lead">{{ reserva.habitacion.numero_habitacion }}</div>
      </div>
      <div class="w-75 mb-3 d-flex justify-content-between align-items-between">
        <div class="fw-bold fs-5">Ingreso:</div>
        <div class="lead">{{ reserva.fecha_ingreso }}</div>
      </div>
      <div class="w-75 mb-3 d-flex justify-content-between align-items-between">
        <div class="fw-bold fs-5">Salida:</div>
        <div class="lead">{{ reserva.fecha_salida }}</div>
      </div>
      <div class="w-75 mb-3 d-flex justify-content-between align-items-between">
        <div class="fw-bold fs-5">Dias hospedados:</div>
        {% if reserva.dias_hospedados == 1 %}
          <div class="lead">{{ reserva.dias_hospedados }} dia</div>
        {% else %}
          <div class="lead">{{ reserva.dias_hospedados }} dias</div>
        {% endif %}
      </div>
      <div class="w-75 mb-3 d-flex justify-content-between align-items-between">
        <div class="fw-bold fs-5">Consumos:</div>
        {% if reserva.consumos %}
          <div class="lead">{{ reserva.consumos }} dia</div>
        {% else %}
          <div class="lead">Lps. {{ reserva.total_consumos|intcomma }}</div>
        {% endif %}
      </div>
      <hr />
      {% if reserva.consumos %}
        <h4>Consumos:</h4>
        <ul class="list-group">
          <li class="list-group-item">{{ reserva.consumos }}</li>
        </ul>
      {% else %}
        <h3>No tiene consumos en el hotel</h3>
      {% endif %}
      <a href="" data-bs-toggle="modal" data-bs-target="#modalConsumos" class="btn btn-primary my-4"><i class="fa-solid fa-utensils me-2"></i>Agregar Consumo</a>
      <br />
      <h3>Metodos de Pago</h3>
      <div class="card">
        <ul class="list-group">
          <li class="list-group-item d-flex justify-content-between align-items-center" aria-disabled="true">
            <span>Tarjeta Credito / Debito</span>
            <div>
              <i class="fa-brands fa-cc-mastercard" style="font-size: 3rem;"></i>
              <i class="fa-brands fa-cc-visa" style="font-size: 3rem;"></i>
            </div>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center" aria-disabled="true">
            <span>Pago con Paypal</span>
            <div>
              <i class="fa-brands fa-cc-paypal text-primary" style="font-size: 3rem;"></i>
            </div>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center" aria-disabled="true">
            <span>Efectivo</span>
            <div>
              <i class="fa-solid fa-money-bill-1-wave text-success" style="font-size: 3rem;"></i>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-4">
      <div class="card">
        <h5 class="ms-3 my-3">Resumen de Compra:</h5>
        <div class="mx-3 mb-3 d-flex justify-content-between align-items-between">
          <div class="fw-medium fs-5">Precio por dia:</div>
          <div class="lead">Lps. {{ reserva.habitacion.precio|intcomma }}</div>
        </div>
        <div class="mx-3 ms-3 mb-3 d-flex justify-content-between align-items-between">
          <div class="fw-medium fs-5">Precio Subtotal:</div>
          <div class="lead">Lps. {{ reserva.costo_subtotal|intcomma }}</div>
        </div>
        <div class="mx-3 ms-3 mb-3 d-flex justify-content-between align-items-between">
          <div class="fw-medium fs-5">Descuento:</div>
          <div class="lead">Lps. 0.00</div>
        </div>
        <hr />
        <div class="mx-3 ms-3 mb-3 d-flex justify-content-between align-items-between">
          <div class="fw-medium fs-5">Total:</div>
          <div class="lead">Lps. {{ reserva.costo_subtotal|intcomma }}</div>
        </div>
        <div class="mx-3">
          <form action="{% url 'crear_factura' %}" method="POST">
            {% csrf_token %}
            <div class="input-group">
              <span class="input-group-text"><i class="fa-solid fa-dollar-sign"></i></span>
              <input type="hidden" name="reserva_id" value="{{ reserva.id }}" />
              <input type="number" name="monto" placeholder="Monto efectivo" id="" class="form-control" />
            </div>
            <input type="submit" value="Procesar Pago" class="btn btn-danger w-100 my-3" />
          </form>
        </div>
        <a href="{% url 'reservas' %}" class="btn btn-outline-danger mx-3 mb-3">Atras</a>
      </div>
    </div>
    <div class="col-2"></div>
  </div>

  <!-- Modal Servicios de Consumo -->
  <div class="modal fade" id="modalConsumos" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Agregar Consumo</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form action="{% url 'agregar_consumo' %}" method="POST">
            {% csrf_token %}
            <input type="hidden" name="id_reserva" value="{{ reserva.id }}" />
            <div class="input-group">
              <span class="input-group-text"><i class="fa-solid fa-utensils"></i></span>
              <select name="id_servicio" class="form-control" id="">
                {% for servicio in servicios %}
                  <option value="{{ servicio.id }}">{{ servicio.nombre }}</option>
                {% endfor %}
              </select>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
              <input type="submit" value="Agregar Consumo" class="btn btn-primary" />
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
